# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/SP-Vjezbe/Pokazivaci/Debug
/SP-Vjezbe/SP-Vjezbe.VC.VC.opendb
/SP-Vjezbe/SP-Vjezbe.VC.db
/SP-Vjezbe/Pokazivaci/Pokazivaci.vcxproj
/SP-Vjezbe/Pokazivaci/Pokazivaci.vcxproj.filters
/SP-Vjezbe/.vs/SP-Vjezbe/v14/.suo
